.footer{
    font-size: 1.6rem;
    font-family:inherit;
    &__logo-box{
        width: 30rem;
        margin: 0 auto;


    }
    &__logo{ 
        width: 100%;
    }
    &__navigation,
    &__copyright{
        text-align: center;
        display: inline-block;
        border-top: 1px solid rgba($color-white, .7);
        padding-top: 1rem;
        @include mediaQuery(phone){
            padding-top: .5rem;
        }
        width: 100%;
    }
    
    &__item{

        display: inline-block;
        text-align: center;
        a{
            color: $color-white;
            text-decoration: none;
        }
        &:not(:first-child){
            padding-left: 1rem;
        }
        // padding-left: 1rem;
    }
    &__copyright{
        color: $color-white;
        
        a{
            color: $color-primary;
            text-decoration: none;
        }
    }
}