.story-card{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.2);
    background-color: rgba($color-white, .8);
    padding: 4rem;
    font-size: 1.6rem;
    backface-visibility: hidden;
    &:not(:last-child){
        margin-bottom: 10rem;
    }
    transform: skewX(-12deg);

    &__photo{
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(45% at 50% 50%);
        transform: translateX(-1.8rem);
        transform: skewX(12deg);
        backface-visibility:hidden;
        position: relative;
        // overflow: hidden;
        
    }
    &__details{
        transform: skewX(12deg);
    }
    &__img{
        height: 100%;
        transform: scale(1.2);
        transition: all .4s ease;
        backface-visibility: hidden;
    }

    &__caption{
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20rem);
        opacity: 0;
        transition: all .4s ease;
    }
    &:hover &__caption{
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
    &:hover &__img{
        transform: scale(1);
        filter: blur(6px) brightness(70%);
        backface-visibility: hidden;
        overflow: hidden;
    }
}